/* Body
------------------------------------- */

body {
    background: #ffffff;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
    margin: 0 auto;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: Aspect;
    src: url(../fonts/aspect.otf);
}

@font-face {
    font-family: Quicksant-Regular;
    src: url(../fonts/Quicksant-Regualar.ttf);
}

@font-face {
    font-family: Quicksant-Light;
    src: url(../fonts/Quicksand-Light.ttf);
}

@font-face {
    font-family: Quicksant-Bold;
    src: url(../fonts/Quicksand-Bold.ttf);
}

font-family: 'Quicksand',
sans-serif;

/* header
------------------------------------- */

header {
    background: #06183d;
    height: 20.875em;
}

header a {
    background-image: url(../images/logo-desktop.png);
    height: 6.625em;
    background-repeat: no-repeat;
}

header img {
    margin: 1.25em;
}

h1 {
    font: Quicksand;
    font-weight: lighter;
    color: #51B5C9;
    padding: 1.25em;
    background: #D3F1F5;
    text-transform: uppercase;
    font-size: 2.7em;
    position: relative;
    top: 1.5em;
    width: 100%;
}

@media screen and (max-width: 40em) {
    header {
        height: 11.250em;
    }
    header a {
        background-image: url(../images/logo.svg);
        height: 3.750em;
    }
    h1 {
        font-size: 2em;
    }
}


/* nav
------------------------------------- */

nav {
    background-color: #06183d;
    height: 3.25em;
    position: fixed;
    top: 3em;
    width: 100%;
}

nav ul {
    list-style: none;
    display: block;
    justify-content: left;
}

nav li {
    float: left;
    padding: 14px 16px;
}

nav img {
    display: none;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: #9B9B9B;
}

.activeNav {
    background-color: #41455B;
    height: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-top-color: #FADB00;
}

@media screen and (max-width: 400px) {
    nav {
        background-color: #303F5D;
        height: 4em;
        position: fixed;
        top: 680px;
        width: 100%;
        z-index: 99;
    }
    nav ul {
        overflow: hidden;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    nav li {
        display: block;
    }
    nav img {
        width: 30px;
        height 30px;
        display: block;
        margin-top: 1px;
    }
    nav a {
        text-decoration: none;
        color: #fff;
    }
    .activeNav {
        background-color: #303F5D;
        font-weight: bold;
    }
}


/* streep
------------------------------------- */

#streep {
    width: 100%;
    background-color: rgb(36, 181, 201);
    height: 6px;
    position: fixed;
    top: 191px;
    position: sticky;
}


/* hide form
------------------------------------- */

input#FilterSorteerToggle~form {
    display: none;
}

input#FilterSorteerToggle:checked~form {
    display: block;
}

#FilterSorteerToggle {
    display: none;
}

label[for=FilterSorteerToggle] {
    background-image: none;
    background-color: #d5ecf2;
    border-color: #0f9eb2;
    top: 200px;
    width: 200px;
    position: fixed;
    height: 30px;
    position: sticky;
    margin-left: 10%;
    z-index: 101;
}


/* form
------------------------------------- */

form {
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #e6e6e6;
    width: 70%;
    height: 190px;
    margin-left: 15%;
    margin-top: 20px;
    padding: 10px;
    max-width: 950px;
    padding-left: 7%;
    position: fixed;
    top: 210px;
    z-index: 100;
}

legend {
    font-size: 16px;
    color: #51B5C9;
    font-size: bold;
}


/* sorteren */

input[type="radio"] {
    display: none;
}

label {
    padding-left: 20px;
    cursor: pointer;
    background-image: url(radioButton.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 15px;
}

input[type='radio']:checked+label {
    background-image: url(Oval.png);
}


/* filtreren op */

select {
    background-color: #d4f1f5;
    border-color: #0f9eb2;
    color: #55565a;
    font-size: 16px;
    padding: 10px;
    margin: 20px;
}

option {
    display: inline;
    margin-left: 10px;
    margin-bottom: 15px;
    border-color: #0f9eb2;
}


/* toon resultaten knop*/

input[type=submit] {
    background-color: #fcdd11;
    font-size: 18px;
    color: #55565A;
    border-radius: 4px;
    padding: 20px, 20px;
    margin-top: 10px;
    width: 200px;
    position: absolute;
    bottom: 5%;
    right: 2%;
}


/* resultaten / aanbeovlen / top 10
------------------------------------- */

h3 {
    font-family: Aspect;
    text-align: center;
}

h3+div {
    width: 30px;
    background-color: rgb(36, 181, 201);
    height: 3px;
    margin-left: 48%;
    margin-top: 5px;
    border-radius: 3px;
}

.Container {
    display: flex;
    justify-content: center;
}


/* article
------------------------------------- */

main {
    margin-top: 20px;
}

article {
    border-radius: 14px 14px 8px 8px;
    border-color: #55565a;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
    width: 300px;
    height: 420px;
    margin: 4px;
    position: relative;
}

article img {
    width: 299px;
    height: 186px;
    border-radius: 14px 14px 8px 8px;
}

article a {
    height: 40px;
    background-color: #fcdd11;
    border-radius: 4px;
    box-shadow: rgb(222, 194, 4) 0px 2px 0px 0px, rgba(0, 0, 0, 0.2) 0px 3px 2px 0px;
    color: #55565a;
    font-size: 16px;
    text-align: center;
    display: flex;
    text-decoration: none;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

article button {
    background-color: #0f9eb2;
    border-radius: 100%;
    background-image: url(Asset%203.svg);
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    border-color: #0f9eb2;
    position: absolute;
    top: 33%;
    right: 10px;
    background-size: 30px;
    background-position: center;
}

article button:hover {
    background-image: url(heart-fill.svg);
}

article button:checked {
    background-image: url(heart-fill.svg);
}

p {
    font-size: 18px;
    margin-left: 20px
}

h4 {
    font-size: 22px;
    color: #4a4949;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0px;
}


/* artcle media quuries */

@media only screen and (max-width: 600px) {
    article {
        border-radius: 14px 14px 8px 8px;
        border-color: #55565a;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
        width: 90%;
        height: 420px;
        margin: 4px;
        position: relative;
        bottom: 0px;
    }
}
